/*
    Books page
*/

/* Book cards */

#publications > article {
    border-bottom: solid thin var(--colorSecondary);
    margin-bottom: 1rem;
}
#publications > article:last-of-type {
    border: none;
}
#publications > article > img {
    display: block;
    margin: 0 auto 1rem auto;
}
.title, .subtitle {
    font-weight: bold;
}
.title {
    font-size: 1.2rem;
    margin-bottom: 0;
}
.subtitle, .year {
    display: inline-block;
}
.year:before {
    content: '(';
}
.year:after {
    content: ')';
}

@media (min-width: 480px) {
    #publications > article > img {
        float:right;
        margin-left: 1rem;
    }
    #publications > article {
        clear: both;
        overflow: auto;
    }
    #publications > article:last-of-type {
        margin-bottom: 0;
    }
}
@media (min-width: 1024px) {
    #publications {
        display: flex;
        flex-flow: row wrap;        
        justify-content: space-between;
        column-gap: 0.5rem;
    }
    #publications > article, #publications > article:last-of-type {
        flex: 0 0 calc(50% - 0.5rem);
        border: solid thin var(--colorSecondary);
        border-radius: 0.5rem;
        padding: 1rem 1rem 0 1rem;
        margin-bottom: 1rem;
    }
}