/*
    Contact page
*/

/* Contact cards */

#contact-info {
    img.avatar {
        display: block;
        width: var(--dimensionAvatar);
        height: var(--dimensionAvatar);
        margin-left: auto;
        margin-right: auto;
    }
    header {
        padding: 0;
        margin-bottom: 1rem;
        color: var(--colorMain);
        background-color: var(--colorLink);
        h3 {
            margin: 0;
        }
    }
    p {
        margin-bottom: 0;
        &:last-of-type {
            margin-bottom: 1rem;
        }
    }
    .name, .job {
        display: inline-block;
    }
    .job:before {
        content: '(';
    }
    .job:after {
        content: ')';
    }
    .phone:before {
        content: 'Phone: ';
    }

    @media (min-width: 480px) {
        > article {
            > div {
                display: grid;
                grid-template-areas: 
                "img header"
                "img info";
                grid-template-columns: auto 1fr;
                grid-template-rows: auto 1fr;
                column-gap: 1rem;
                min-height: calc(var(--dimensionAvatar) + 1rem);
                
                > img {
                    grid-area: img;
                }
                > header {
                    grid-area: header;
                }
                > .info {
                    grid-area: info;
                }
            }
            @media (min-width: 1024px) {
                align-self: start;
                padding: 1rem 1rem 0 1rem;
                &:last-of-type {
                    padding-bottom: 1rem;
                    margin-bottom: 0;
                }
                > div {
                    height: var(--dimensionAvatar);
                }
            }
        }
        @media (min-width: 1024px) {
            form {
                margin-top: 1rem;
            }
        }
    }
}

/* Contact form */

#contact-info {
    fieldset {
        padding: 1rem;
        border-radius: 0.5rem;
    }
    form div > * {
        display: block;
    }
    input, textarea {
        width: 100%;
    }
    textarea {
        height: 6rem;
        margin-bottom: 1rem;
    }
    button[type=submit] {
        position: relative;
        left: 2rem;
        width: auto;
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-size: 1.2rem;
    }
}

/* Conference picture */

#contact-info {
    > img {
        display: none;
        object-fit: contain;
    }
    @media (min-width: 750px) {
        display: grid;
        grid-template-columns: 3fr 2fr; 
        grid-template-rows: repeat(2, auto);
        column-gap: 1rem;
        > article {
            grid-column: 1 / 2;
        }
        > img {
            display: block;
            width: 100%;
            grid-column: 2 / 3;
            grid-row: 1 / 4;
            align-self: start;
        }
    }
    @media (min-width: 1024px) {
        margin-bottom: 1rem;
    }
}